<h2>Create a new drone</h2>

<form action="/drones/create" method="post" class="form">

    <label for="name" class="label">name?</label>
    <input id="name" name="name" type="text" value="" />

    <label for="propellers" class="label">number of properllers ?</label>
    <input id="propellers" name="propellers" type="number" value="" />

    <label for="maxSpeed">Max speed?</label>
    <input id="maxSpeed" name="maxSpeed" type="number" value="" />

    <button>ok</button>

</form>